body {
  color: #ffffff;
  background-color: #010003;
}

a {
  color: #ffffff;
}
a:hover, a:focus {
  color: #332f57;
}

.container {
  color: #ffffff;
  background-color: #010003;
}

@media screen and (min-width: 700px) {
  .container {
    color: #ffffff;
    background-color: #04215f;
  }
}
.line {
  border-bottom: 2px solid #ffffff;
}

.demoHeader {
  color: #ffffff;
}
.demoSubHeader {
  color: #ffffff;
}
.demoText {
  color: #ffffff;
}
.exampleText {
  background-color: #04215f;
}
@media screen and (min-width: 700px) {
  .exampleText {
    background-color: #010003;
  }
}
.codeText {
  color: #ffffff;
  background-color: #04215f;
}
.codeText b {
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .codeText {
    background-color: #010003;
  }
}
.demoList {
  color: #ffffff;
}
.demoList li {
  color: #ffffff;
}
.nav {
  border-top: 2px solid #ffffff;
  color: #ffffff;
  background-color: #04215f;
}
.nav-title {
  color: #ffffff;
}
.nav-item {
  color: #ffffff;
  background-color: #0076ac;
}
.nav-item:focus, .nav-item:hover {
  color: #89cceb;
}

@media screen and (min-width: 700px) {
  .nav {
    border-style: none;
  }
  .nav-item {
    background-color: rgba(0, 0, 0, 0);
  }
}
.subNav {
  color: #ffffff;
}
.subNav-item {
  background-color: #0076ac;
  color: #ffffff;
}
.subNav-item:focus, .subNav-item:hover {
  color: #010003;
}

.menuButton {
  color: #ffffff;
  background-color: #04215f;
  border: 2px solid #ffffff;
}
.menuButton:focus, .menuButton:hover {
  color: #ffffff;
  background-color: #0076ac;
}

.themeMenu {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #04215f;
}
.themeMenu h2 {
  color: #ffffff;
}
.themeMenu button {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.themeMenu button:focus, .themeMenu button:hover {
  color: #89cceb;
}

.fontMenu {
  color: #ffffff;
  background-color: #04215f;
  border: 2px solid #ffffff;
}
.fontMenu h2 {
  color: #ffffff;
}
.fontMenu button {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.fontMenu button:focus, .fontMenu button:hover {
  color: #89cceb;
}

.text15px {
  color: #ffffff;
}

.text20px {
  color: #ffffff;
}

.text25px {
  color: #ffffff;
}

.text30px {
  color: #ffffff;
}

.setOutline {
  -webkit-text-stroke: 10px #010003;
}

.bottomNav > a {
  background-color: #0076ac;
}
.bottomNav > a:focus, .bottomNav > a:hover {
  color: #010003;
}

.--color {
  border-color: #ffffff;
}

.primary {
  background-color: #04215f;
}

.primaryVariant {
  background-color: #332f57;
}

.secondary {
  background-color: #546e7a;
}

.secondaryVariant {
  background-color: #89cceb;
}

.background {
  background-color: #010003;
}

.surface {
  background-color: #0076ac;
}

.error {
  background-color: #BF3207;
}

.onPrimary {
  background-color: #ffffff;
}

.onSecondary {
  background-color: #ffffff;
}

.onBackground {
  background-color: #ffffff;
}

.onSurface {
  background-color: #ffffff;
}

.onError {
  background-color: #000000;
}/*# sourceMappingURL=dark.css.map */